<h1>CREATE USER FORM</h1>
<form class="create-form"
    [formGroup]="form"
    (ngSubmit)="submitForm()">

    <p>Name:</p>
    <input class="form-input" type="text" formControlName="name">
    <p>Email:</p>
    <input class="form-input" type="text" formControlName="email">
    <p>Website:</p>
    <input class="form-input" type="text" formControlName="website">
    <p>Company name:</p>
    <input class="form-input" type="text" formControlName="companyName">
    <button [disabled]="form.invalid" class="edit-btn" type="submit">Добавить пользователя</button>
</form>